.Navbar{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    padding: 20px;
}
.logo{
    height: 55px;
    width: 150px;
    margin-right: 270px;
}
.SearchButton{
    background-color: white;
    border: none;
    margin-left: 350px;
    margin-right: 10px;

}

#ProfileNavIcon:hover, #SearchNavIcon:hover{
    cursor: pointer;
    color: #ff1f00;
}

#ProfileNavIcon{
    margin-right: 100px;
    margin-left: 0px;
    list-style: no;
    display: flex;
    justify-content: center;
    position: relative;
}

.NavLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.NavLinks a {
    text-decoration: none;
    color: black;
}

.NavLinks a:hover{
    color: #ff1f00;
}

.Products .SubNav {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    z-index: 10;
}

.Profile .SubNav {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    right: 0;
    margin-right: 15px;
    flex-direction: column;
    z-index: 10;
}

.Products:hover .SubNav {
    display: flex;
}

.Profile:hover .SubNav {
    display: flex;
}

.SubNav a {
    list-style: none;
    margin: 10px;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 100px;
}

.SubNav p{
    font-size: 12px;
    color: #cbcbcb;
}

.SubNavIcon{
    color: black;
    margin-right: 15px;
    height: 16px;
    width: 16px;
}