.List{
    padding: 6rem 9rem;
}

.LBig{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1250px;
    height: 730px;
}

.Lchild{
    width: 288px;
    height: 300px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.LSmall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 960px;
    height: 720px;
}

.m{
    float: right;
    width: 212px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
    color: #ff1f00;
    font-size: 24px;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid #ff1f00;
    background-color: white;
}

.m:hover{
    background-color: #ff1f00;
    color: white;
    transition: .3s;
}