.container{
    width: 288px;
    height: 296px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.sp{
    color: #ff1f00;
    font-size: 24px;
    font-weight: 700;
}
.k{
    border-radius: 20px;
    width: 157px;
    height: 24px;
    border: 1px solid #B4B4B4;
    text-align: center;
}

.sf{
    background-color: #F9F9F9;
}

.Button{
    width: 207px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    vertical-align: middle;
    font-size: 20px;
    background-color: #ff1f00;
    color: white;
    margin-left: 16px;
    border-radius: 20px;
    border: 1px solid #ff1f00;
    font-weight: 700;
}