.Big{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 1250px;
    height: 730px;
    margin-left: 108px;
    margin-top: 200px;
}

.Fchild{
    width: 288px;
    height: 300px;
    border-radius: 8px;
}

.Small{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 637px;
    height: 720px;
}

.summ{
    width: 288px;
    height: 296px;
    margin-left: 30px;
}