.CBig{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 1250px;
    height: 730px;
    padding: 6rem 9rem;
}

.Cchild{
    width: 288px;
    height: 300px;
    border-radius: 8px;
}

.CSmall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 637px;
    height: 720px;
}

.Csumm{
    width: 288px;
    height: 296px;
    margin-left: 30px;
}