.Del{
    width: 288px;
    height: 347px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #71717133;
    padding-left: 5px;
    border-color: white;
    margin-left: 25px;
    margin-top: 25px;
}

.trash{
    font-size: 24px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    background-color: white;
    border: none;
}

.trash:hover{
    font-size: 32px;
    transition: .4s;
}

.txt{
    color: #063A88;
    font-size: 16px;
    font-weight: 300;
}

hr{
    margin-left: 15px;
    margin-right: 15px;
    color: #0951BE;
}