.home-header-left {
	position: relative;
	flex-grow: 1;
}

.home-header-left h1 {
	font-family: "press-start";
	font-size: 96px;
	color: #ff1f00;
	width: 400px;
	margin: 0;
}

.home-header-left .dome-logo {
	position: absolute;
	right: 0;
	top: -50px;
}

.home-header-left h2 {
	font-size: 36px;
	font-weight: 800;
	margin: 1rem 0 0 4rem;
}
